<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Error Page</title>
    <style>
        body {
            display: flex;
            justify-content: center;
            align-items: center;
        }
    </style>
</head>
<body>
    <h2>에러가 발생했어요!</h2>
    <div>놀라지 말고 새로고침을 해보세요.</div>
    <div>버그 발견시 @alchernix149로 연락주세요.</div>
</body>
</html>