<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Post Editor</title>
    <link rel="stylesheet" href="/post-editor.css">
    <!-- <link rel="stylesheet" href="https://cdn.ckeditor.com/ckeditor5/44.2.1/ckeditor5.css"> -->
    
</head>
<body>
    <h2>게시글 작성</h2>
    <form action="" method="post">
        <input type="text" placeholder="제목을 입력해 주세요" name="title" required>
        <textarea name="content" required></textarea>
        <div class="btn-container">
           <a href="/">취소</a>
            <button type="submit">확인</button> 
        </div>
        
    </form>
    <!-- <script src="https://cdn.ckeditor.com/ckeditor5/44.2.1/ckeditor5.umd.js" ></script> -->
</body>
</html>