/* sign-up */
body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 0;
    padding: 0;
    height: 100vh;
}

h3 {
    margin: 0;
    text-align: center;
}

form {
    border: 2px solid var(--borderColor-default);
    border-radius: 20px;
    width: 300px;
    display: flex;
    flex-direction: column;
    gap: 20px;
    padding: 20px;
}

input {
    background-color: var(--bgColor-default);
    border: 2px solid var(--borderColor-default);
    color: var(--textColor-default);
    border-radius: 10px;
    padding: 5px;
}

button,
.cancel-btn {
    background-color: var(--btnColor-default);
    border: 1px solid var(--borderColor-default);
    border-radius: 10px;
    text-align: center;
    color: var(--textColor-default);
    text-decoration: none;
    font-size: 14px;
    cursor: pointer;
    padding: 5px 10px;
    box-sizing: border-box;
}

.confirm-btn {
    background-color: var(--highlight-blue);
    border: none;
}

.auth-err,
.dup-err,
.len-err {
    color: var(--highlight-red);
}

.memb-err {
    color: var(--highlight-red);
    margin-bottom: 10px;
}

.sign-up-link {
    align-self: center;
    color: var(--highlight-blue);
    text-decoration: underline;
}