/* sign-up */
body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 0;
    padding: 0;
    height: 100vh;
}

h3 {
    margin: 0;
    text-align: center;
}

form {
    border: 2px solid black;
    width: 300px;
    display: flex;
    flex-direction: column;
    gap: 20px;
    padding: 20px;
}

button,
.cancel-btn {
    background-color: #eee;
    border: 1px solid black;
    border-radius: 10px;
    text-align: center;
    color: black;
    text-decoration: none;
    font-size: 14px;
    cursor: pointer;
    padding: 5px 10px;
    box-sizing: border-box;
}

.auth-err,
.dup-err {
    color: red;
}

.memb-err {
    color: red;
    margin-bottom: 10px;
}

.sign-up-link {
    align-self: center;
}