.title-container {
    display: flex;
    /* justify-content: space-between; */
    align-items: center;
    border-bottom: 2px solid var(--borderColor-default);
    gap: 10px;
}

.read-all-btn,
.delete-all-btn {
    background-color: var(--btnColor-default);
    border: 1px solid var(--borderColor-default);
    padding: 5px 10px;
    border-radius: 5px;
    color: var(--textColor-default);
    cursor: pointer;
    font-family: inherit;
    font-size: 16px;
}

.delete-all-btn-container {
    margin-left: auto;
}

.delete-all-btn {
    background-color: var(--highlight-red);
    border: none;
}

.notification-container {
    margin: 0;
    padding: 0;
    list-style-type: none;
}

.notification {
    display: block;
    padding: 10px 0;
}

.heart {
    color: var(--highlight-red);
}

.notification:hover {
    background-color: var(--btnColor-hover);
}

.read {
    background-color: var(--bgColor-default);
}

.unread {
    background-color: var(--btnColor-default);
}