body {
    margin: 0;
    padding: 20px 5vw;
}

main {
    display: flex;
    flex-direction: column;
    width: 100%;
    border-top: 2px solid black;
    border-bottom: 2px solid black;
    position: relative;
}

.title {
    margin: 0;
    padding: 7px 0;
}

.detail-container {
    display: flex;
    justify-content: space-between;
    border-bottom: 1px solid gray;
    padding-bottom: 7px;
}

pre {
    font-family: inherit;
    font-size: inherit;
    margin: 0 0 7px 0;
}

.content {
    width: 100%;
    padding: 7px 0;
    min-height: 40vh;
}

img {
    width: 100%;
}

/* 버튼들 */

.btn-container {
    margin-top: 7px;
    display: flex;
    gap: 10px;
}

.back-to-main-btn {
    margin-right: auto;
    background-color: gray;
    color: white;
}

.back-to-main-btn,
.edit-btn,
.delete-btn {
    display: inline-block;
    text-decoration: none;
    padding: 5px 8px;
    border: 1px solid black;
    font-size: 12pt;
    border-radius: 5px;
    font-weight: bold;
    cursor: pointer;
}

.edit-btn {
    color: black;
    background-color: lightgreen;
}

.delete-btn {
    color: white;
    background-color: orangered;
}

.like-btn-container {
    /* position: absolute;
    bottom: 20px;
    left: 50%;
    transform: translate(-50%); */
    align-self: center;
    margin: 20px 0;
    padding: 10px 20px;
    background-color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border: 1px solid gray;
}

.like-btn {
    background-color: white;
    cursor: pointer;
    border: 1px solid red;
    padding: 10px;
    border-radius: 50%;
}

.fa-heart {
    color: red;
    font-size: 32px;
}

/* 댓글 */

.comment-container {
    background-color: #eee;
    box-sizing: border-box;
    /* margin-top: 7px; */
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 120px;
    border-bottom: 2px solid black;
    padding: 20px 10px;
}

#comment-input {
    flex-grow: 1;
    /* height: 70px; */
}

.comment {
    display: flex;
    flex-direction: column;
    gap: 10px;
    padding: 10px 0;
    border-bottom: 2px solid black;
}

.username-closeBtn {
    display: flex;
    justify-content: space-between;
    align-items: center;
}