.main {
    display: flex;
    flex-direction: column;
    width: 100%;
    /* border-top: 2px solid #3d444d; */
    border-bottom: 2px solid var(--borderColor-default);
    position: relative;
}

.title,
.detail-container,
.content {
    box-sizing: border-box;
    padding: 7px 5px;
}

.title,
.detail-container {
    background-color: var(--btnColor-default);
}

.title {
    margin: 0;
}

.detail-container {
    display: flex;
    justify-content: space-between;
    border-bottom: 2px solid var(--borderColor-default);
    padding-top: 0;
}

pre {
    font-family: inherit;
    font-size: inherit;
}

.content {
    width: 100%;
    min-height: 40vh;
}

.content pre {
    margin: 0 0 7px 0;
}

.images-container {
    display: flex;
    flex-direction: column;
    gap: 7px;
}

img {
    width: 100%;
}

/* 버튼들 */
.btn-container {
    margin: 20px 0;
    display: flex;
    gap: 10px;
}

.back-to-main-btn {
    margin-right: auto;
    background-color: var(--btnColor-default);
    color: var(--textColor-default);
}

.back-to-main-btn,
.edit-btn,
.delete-btn {
    display: inline-block;
    text-decoration: none;
    padding: 5px 8px;
    border: none;
    font-size: 16px;
    border-radius: 5px;
    cursor: pointer;
    font-family: inherit;
}

.edit-btn {
    color: var(--textColor-default);
    background-color: var(--highlight-green);
}

.delete-btn {
    color: var(--textColor-default);
    background-color: var(--highlight-red);
}

.like-btn-container {
    align-self: center;
    margin: 20px 0;
    padding: 10px 20px;
    background-color: var(--bgColor-default);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border: 2px solid var(--borderColor-default);
    border-radius: 10px;
}

.like-btn {
    background-color: var(--bgColor-default);
    cursor: pointer;
    border: 2px solid var(--highlight-red);
    padding: 10px;
    border-radius: 50%;
}

.fa-heart {
    color: var(--highlight-red);
    font-size: 32px;
}

/* 댓글 */

.comment-container,
.reply-container {
    background-color: var(--bgColor-default);
    box-sizing: border-box;
    /* margin-top: 7px; */
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 150px;
    border-bottom: 2px solid var(--borderColor-default);
    padding: 20px 10px;
}

.comment pre,
.reply pre {
    margin: 0;
}

.date {
    color: var(--textColor-gray);
}

.reply-container {
    padding-left: 30px;
}

#comment-input,
#reply-input {
    flex-grow: 1;
    background-color: var(--bgColor-default);
    border: 2px solid var(--borderColor-default);
    border-radius: 10px;
    color: var(--textColor-default);
    padding: 7px;
}

#register-btn,
#reply-btn {
    align-self: flex-end;
    background-color: var(--highlight-blue);
    border: none;
    /* border: 2px solid #3d444d; */
    padding: 5px 10px;
    border-radius: 5px;
    margin-top: 10px;
    color: var(--textColor-default);
    cursor: pointer;
    font-size: 16px;
    font-family: inherit;
}

.comment,
.reply {
    display: flex;
    flex-direction: column;
    gap: 10px;
    padding: 10px 5px;
    border-bottom: 2px solid var(--borderColor-default);
}

.comment {
    cursor: pointer;
}

.reply {
    position: relative;
    box-sizing: border-box;
    padding-left: 30px;
}

.reply-arrow {
    position: absolute;
    top: 15px;
    left: 5px;
}

.username-closeBtn {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.username {
    font-weight: bold;
}

.delete-comment-btn {
    background-color: var(--btnColor-default);
    border: 1px solid var(--borderColor-default);
    color: var(--textColor-default);
    border-radius: 5px;
    cursor: pointer;
}