body {
    margin: 0;
    padding: 20px 5vw;
}

main {
    width: 100%;
    border-top: 2px solid black;
    border-bottom: 2px solid black;
    min-height: 75vh;
}

.title {
    margin: 0;
    padding: 7px 0;
}

.detail-container {
    display: flex;
    justify-content: space-between;
    border-bottom: 1px solid gray;
    padding-bottom: 7px;
}

.content {
    padding: 7px 0;
    font-size: 11pt;
}

.btn-container {
    margin-top: 7px;
    display: flex;
    gap: 10px;
}

.back-to-main-btn {
    margin-right: auto;
    background-color: gray;
    color: white;
}

.back-to-main-btn,
.edit-btn,
.delete-btn {
    display: inline-block;
    text-decoration: none;
    padding: 5px 8px;
    border: 1px solid black;
    font-size: 12pt;
    border-radius: 5px;
    font-weight: bold;
    cursor: pointer;
}

.edit-btn {
    color: black;
    background-color: lightgreen;
}

.delete-btn {
    color: white;
    background-color: orangered;
}